data/veg_posts_interp_ice.RDS filter=lfs diff=lfs merge=lfs -text
data/radiative-kernels/HadGEM3-GA7.1_TOA_kernel_L19.nc filter=lfs diff=lfs merge=lfs -text
data/radiative-kernels/CACKv1.0/CACKv1.0.nc filter=lfs diff=lfs merge=lfs -text
